.git
.ipynb_checkpoints
.vscode
2021-ed-pivot-table.xlsm
AAT vs FCFS.png
battery.html
ChatGPT prompts.txt
dummy_doctor_data.csv
dummy_patient_data.csv
Edlight_ML_task.ipynb
Hospital triage and patient history
Improving ED using RL.pdf
P2P Scheduling.pdf
patient_scheduling_rl_dataset_dummy.csv
RL.py
Solving unbounded state space problem using RL.pptx
Steps for the PDGRL algorithm.docx